*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
/app/build
/workspace/build
/highlight/build
/build-logic/build
/build-logic/.gradle
